---
import MainLayout from '../layouts/MainLayout.astro'
import Flash from '../components/Flash.astro'
import Article from '../components/Article.astro'
---

<MainLayout title="Custom Bookmark Button">
  <!-- Buttons -->
  <div class="grid grid-cols-2 lg:grid-cols-3 gap-8 p-6">
    <Article
      headline="Web Development Lessons from Elmo: How Sesame Street's Furry Friend Can Help You Master HTML and CSS"
    />
    <Article
      headline="Elmo and the Power of Personal Branding: Lessons for Building Your Online Presence"
    />
    <Article
      headline="Gamifying Web Development: How Elmo's World Inspires Engaging Web Design"
    />
    <Article
      headline="The Future of Web Development: What Elmo Can Teach Us About Emerging Technologies"
    />
    <Article
      headline="Coding with Elmo: Using Technology to Foster Creativity and Innovation in Web Development"
    />
    <Article
      headline="Accessibility in Web Development: What Elmo and Sesame Street Can Teach Us About Inclusive Design"
    />
  </div>
  <!-- Flash Message -->

  <Flash />
</MainLayout>
