<button
  x-data="Basket"
  @update-bookmarks.window="incommingUpdate"
  @click="isVisible=!isVisible"
  @click.outside="isVisible=false"
  class="flex flex-row-reverse gap-4 items-center relative">
  <h3
    class="px-4 bg-black text-white pt-1.5 pb-2 rounded-md"
    x-html="getBookmarks">
  </h3>
  <div
    class="flex flex-col gap-2 absolute top-12 bg-black p-4 rounded-md"
    x-show="isVisible"
    x-cloak>
    <h1
      x-show="currentBookmarks === 0"
      class="text-white/50 pt-1.5 pb-2 px-4 text-sm rounded-md font-semibold whitespace-nowrap">
      There are no items in your bookmarkList!
    </h1>
    <template x-for="item in bookmarkList">
      <h1
        x-show="currentBookmarks !== 0"
        x-text="'🔗 ' + item.title"
        class="border-b border-white bg-black py-4 px-4 text-sm text-white font-semibold whitespace-nowrap last:border-none">
      </h1>
    </template>
  </div>
</button>

<script is:inline>
  function Basket() {
    return {
      init() {
        this.currentBookmarks = this.$store.bookmarks.list.length
        this.bookmarkList = this.$store.bookmarks.list
        this.$watch('currentBookmarks', () => {
          this.$store.bookmarks.list = this.bookmarkList
        })
      },
      isVisible: false,
      currentBookmarks: 0,
      showBookmarks: true,
      bookmarkList: [],
      incommingUpdate() {
        const state = this.$event.detail.state
        // const target = this.$event.detail.info.parentNode.id

        // I want it to be like this :
        const target = {
          id: this.$event.detail.info.parentNode.id,
          title:
            this.$event.detail.info.parentNode.firstChild.nextSibling
              .textContent,
        }

        if (state) {
          if (!this.bookmarkList.some((item) => item.id === target.id)) {
            this.bookmarkList.push(target)
            this.currentBookmarks += 1
          }
        } else {
          const index = this.bookmarkList.findIndex(
            (item) => item.id === target.id
          )
          if (index !== -1) {
            this.bookmarkList.splice(index, 1)
            this.currentBookmarks -= 1
          }
        }
      },
      getBookmarks() {
        return `<span class="font-bold">${
          this.currentBookmarks
        }</span> BookMarks ${!this.isVisible ? '+' : '-'}`
      },
    }
  }
</script>
