<button
  x-data="Basket"
  @update-bookmarks.window="incommingUpdate"
  @click="isVisible=!isVisible"
  @click.outside="isVisible=false"
  class="flex flex-row-reverse gap-4 items-center relative z-50">
  <div
    class="bg-black w-14 h-14 rounded-full p-3 hover:shadow-xl hover:shadow-black/20 hover:-translate-y-1 transition-all duration-150 ease-in-out relative">
    <img
      class="invert text-white w-full h-full object-cover"
      src="./collection.svg"
      alt=""
    />
    <div
      class="absolute -top-1 right-0 bg-emerald-400 px-2 pb-0.5 rounded-full text-white text-md font-bold"
      x-show="currentBookmarks !== 0">
      <h3 x-text="currentBookmarks"></h3>
    </div>
  </div>
  <div
    class="flex flex-col gap-2 absolute top-16 right-0 bg-black p-4 rounded-md w-[50vw]"
    x-show="isVisible"
    x-transition
    x-cloak>
    <h1 class="text-emerald-300 font-bold text-2xl pt-2 self-start px-4">
      Your BookMarks :
    </h1>
    <h1
      x-show="currentBookmarks === 0"
      class="text-white/50 pt-1.5 w-fit pb-2 px-4 text-sm rounded-md font-semibold text-left">
      There are no items in your bookmarkList!
    </h1>
    <template x-for="item in bookmarkList">
      <a
        x-show="currentBookmarks !== 0"
        x-text="'🔗 ' + item.title"
        class="border-b w-full border-white bg-black py-4 px-4 text-sm text-white font-semibold last:border-none text-left hover:underline">
      </a>
    </template>
  </div>
</button>

<script is:inline>
  function Basket() {
    return {
      init() {
        this.currentBookmarks = this.$store.bookmarks.list.length
        this.bookmarkList = this.$store.bookmarks.list
        this.$watch('currentBookmarks', () => {
          this.$store.bookmarks.list = this.bookmarkList
        })
      },
      isVisible: false,
      currentBookmarks: 0,
      showBookmarks: true,
      bookmarkList: [],
      incommingUpdate() {
        const state = this.$event.detail.state
        const target = {
          id: this.$event.detail.info.parentNode.id,
          title:
            this.$event.detail.info.parentNode.firstChild.nextSibling
              .textContent,
        }

        if (state) {
          if (!this.bookmarkList.some((item) => item.id === target.id)) {
            this.bookmarkList.push(target)
            this.currentBookmarks += 1
          }
        } else {
          const index = this.bookmarkList.findIndex(
            (item) => item.id === target.id
          )
          if (index !== -1) {
            this.bookmarkList.splice(index, 1)
            this.currentBookmarks -= 1
          }
        }
      },
      getBookmarks() {
        return `<span class="font-bold">${
          this.currentBookmarks
        }</span> BookMarks ${!this.isVisible ? '+' : '-'}`
      },
    }
  }
</script>
